@use '../util' as u;

@keyframes on-start-section {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.insights {
  display: flex;
  flex-direction: column-reverse;
  max-inline-size: 111rem;
  background-color: var(--card-bg-color);
  border-radius: 1rem;
  overflow: hidden;
  animation: on-start-section 1s;

  @include u.breakpoint-up(md) {
    flex-direction: row;
  }

  &__container-main {
    padding: 4rem 3.4rem 3.6rem;
    text-align: center;

    @include u.breakpoint-up(md) {
      padding:
        clamp(4rem, 8rem / 120rem * 100vw, 8rem)
        clamp(3.4rem, 10.8rem / 120rem * 100vw, 10.8rem)
        clamp(3.6rem, 6rem / 120rem * 100vw, 6rem)
        clamp(3.4rem, 7rem / 120rem * 100vw, 7rem);
      text-align: start;
    }
  }

  &__title {
    margin-block-end: 2rem;
    font-size: clamp(2.5rem, 3.6rem / 120rem * 100vw, 3.6rem);
    font-weight: 700;
  }

  &__title-accent {
    color: var(--accent-color);
  }

  &__text {
    margin-block-end: 4rem;
    line-height: 1.6;
    color: var(--main-paragraph-color);

    @include u.breakpoint-up(md) {
      margin-block-end: clamp(4rem, 7rem / 120rem * 100vw, 7rem);
    }
  }

  &__container-stats {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @include u.breakpoint-up(sm) {
      justify-content: center;
      flex-direction: row;
      column-gap: 6rem;
    }

    @include u.breakpoint-up(md) {
      justify-content: flex-start;
    }
  }

  &__stats {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
    text-transform: uppercase;
  }

  &__stat-title {
    font-family: u.$lexend-deca;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: var(--stat-headings-color);
  }

  &__stat-text {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__filter {
    background-color: var(--filter-color);
    transition: flex-shrink 1s;

    @include u.breakpoint-up(xl) {
      flex-shrink: 0;
    }
  }

  &__img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    filter: opacity(.45);
  }
}
