@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
}

body {
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
  min-block-size: 100vh;
  inline-size: min(100% - 4.8rem, 144rem);
  margin-inline: auto;
  padding-block: 8.8rem;
  font: normal 400 1.5rem u.$inter;
  color: var(--heading-stats-color);
  background-color: var(--main-bg-color);
}
