:root {
  --main-bg-color: #090b1a;
  --card-bg-color: #1b1938;
  --filter-color: #5f1392;
  --accent-color: #aa5cdb;
  --heading-stats-color: #fff;
  --main-paragraph-color: #ffffffbf;
  --stat-headings-color: #ffffff99;
}
